.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    display: flex;
}

.bar {
    width: 10vw;
    height: 105vh;
    background: #1a1a1a;
}

.counter {
    position: fixed;
    width: 100%;
    font-size: 12vh;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 100;
}