@mixin background-element {
  position: absolute;
  border: white solid;
  opacity: 0.3;
  transform: translate(-50%, -50%);
  z-index: -1;
  pointer-events: none;
}

.landing-page-container {
  position: relative;
  z-index: 0;
}

#firstPage {
  font-family: "Quattrocento", serif;
  font-size: 5.5vw;
  line-height: 20vh;
  align-items: center;
  display: flex;
  height: 100vh;
  position: relative;
  z-index: 1;

  .text-container {
    position: relative;
    z-index: 2;

    h1 {
      margin-left: calc(5vw * var(--index));
      height: fit-content;
      width: fit-content;
      transition: transform 0.3s;
      position: relative;

      &:hover {
        transform: rotate(10deg);
      }
    }

    h1:nth-of-type(2) {
      --index: 1;
    }

    h1:nth-of-type(3) {
      --index: 2;
    }
  }
}

.bg-square,
.bg-square2,
.bg-circle {
  @include background-element;
}

.bg-square {
  width: 98vw;
  height: 80%;
  border-radius: 1vw;
  top: 50%;
  left: 20%;
}

.bg-square2 {
  width: 50%;
  height: 95%;
  top: 40%;
  left: 25%;
}

.bg-circle {
  width: 60vw;
  height: 60vw;
  border-radius: 40%;
  top: 20%;
  left: 80%;
  rotate: 20deg;
}

.content-container {
  width: 100vw;
  z-index: 3;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin-top: -10vh;

  .main-content-container {
    width: 100%;
    height: auto;
  }

  .content-banner {
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    gap: 2dvh;

    .content__caption {
      text-align: center;
    }
  }

  .scroll-container {
    margin-top: -30vh;
    display: flex;
    width: fit-content;
    height: fit-content;
    gap: 1px;
    transition: gap 0.2s ease-in-out, scale 0.2s ease-in-out;
    position: relative;
    z-index: 4;

    &:hover {
      gap: 4px;
      scale: (1.1);
    }
  }
}