.content-container {
    position: relative;
    z-index: 3;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    margin-top: -10vh;

    .scroll-container {
        display: flex;
        width: fit-content;
        height: fit-content;
        gap: 1px;
        transition: gap 0.2s ease-in-out, scale 0.2s ease-in-out;
        position: relative;
        z-index: 4;

        &:hover {
            gap: 4px;
            scale: (1.1);
        }
    }
}